:root {
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        color: #fff;
        background-color: #333;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    break-after: avoid;
}

p, blockquote, pre, table, ul, ol, hr {
    margin-block: 0 1em;
}

[hidden] {
    display: none !important;
}

body {
    margin-block: 0;
    margin-inline: auto;
    padding: 0;
    max-inline-size: 80em;
}

@media (min-width: 50em) {
    body {
        block-size: 100vb;
        display: grid;
        grid-template-columns: 25em 1fr;
    }
}

form,
.list {
    overflow-y: auto;
    padding-block: 2em;
    padding-inline: 1em;
    margin: 0;
}

form h2 {
    margin-block: 0 1em;
}

label {
    display: block;
    padding-inline-start: 1.5em;
    margin-block-end: 0.3em;
}
input[type="checkbox"] {
    float: left;
    margin-inline-start: -1.5em;
}

.list-item {
    display: block;
    margin-block-end: 2em;
    border-block-end: 1px solid #ccc;
    padding-block-end: 2em;
    break-inside: avoid;
}

.list-item h2 {
    margin-block: 0;
}

.contact {
    float: inline-end;
}
